.tabla-wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 12px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.tabla-inscritos {
    width: 100%;
    border-collapse: collapse;
    font-family: var(--font-cuerpo);
    background: var(--color-bg);
    color: var(--color-text);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.tabla-inscritos th,
.tabla-inscritos td {
    padding: 0.75rem 1rem;
    text-align: left;
    border-bottom: 1px solid var(--color-secondary);
}

.tabla-inscritos thead {
    background-color: var(--color-primary);
    color: var(--color-bg);
    font-family: var(--font-subtitulos);
    font-weight: bold;
}

.tabla-inscritos tbody tr:hover {
    background-color: rgba(193, 108, 79, 0.1);
    /* color-primary con opacidad */
    transition: background 0.3s ease;
}

.btn-aprobar,
.btn-anular {
    padding: 6px 12px;
    font-size: 0.9rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: var(--font-cuerpo);
    transition: background 0.3s ease;
}

.btn-aprobar {
    background-color: var(--color-primary);
    color: var(--color-bg);
}

.btn-aprobar:hover {
    background-color: #d7843f;
}

.btn-anular {
    background-color: var(--color-secondary);
    color: var(--color-bg);
    border: 1px solid var(--color-secondary);
}

.btn-anular:hover {
    background-color: #70b795;
    color: var(--color-bg);
}

/* Contenedor de botones */
.btn-actions {
    display: flex;
    gap: 0.5rem;
    /* Espacio entre botones */
}

.filtros-inscripciones {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
}

.filtros-inscripciones button {
    padding: 8px 16px;
    margin-left: 2px;
    border: 1px solid var(--color-primary);
    border-radius: 6px;
    background-color: transparent;
    color: var(--color-primary);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filtros-inscripciones button:hover {
    background-color: var(--color-primary);
    color: var(--color-bg);
    /* texto blanco o claro */
}

.filtros-inscripciones button.activo {
    background-color: var(--color-primary);
    color: var(--color-bg);
}